*.o
*.d
*.o.d
*.img
*.dtb
*.dts
*.elf
*.log
*.backup

kernel-rv
kernel-la
kernel-rv.asm
kernel-la.asm

references/*
build/

.vscode/
.tmp

user/init/la_init
user/init/la_initcode
user/init/rv_init
user/init/rv_initcode

qemu.log